[merge]
tool = unityyamlmerge

[mergetool "unityyamlmerge"]
trustExitCode = true
cmd = 'C:/Program Files/Unity/Hub/Editor/6000.3.16f1/Editor/Data/Tools/UnityYAMLMerge.exe' merge -p "$BASE" "$REMOTE" "$LOCAL" "$MERGED"